<% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>

<!-- This field will get the payment method token value after the user submits the payment frame -->
<input type="hidden" name="payment_method_token" id="payment_method_token" value="" />

<div class="well clearfix">
	<%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image', :class => 'pull-right', :width => '170', :height => '28' %>
	<% param_prefix = "payment_source[#{payment_method.id}]" %>

	<p class="field">
		<%= label_tag "name_on_card_#{payment_method.id}" do %>
			<%= Spree.t(:name_on_card) %><abbr class="required" title="required">*</abbr>
		<% end %>
		<%= text_field_tag "#{param_prefix}[name]", "#{@order.bill_address_firstname} #{@order.bill_address_lastname}", { id: "name_on_card_#{payment_method.id}", :class => 'form-control required'} %>
	</p>
	
	<!-- This is where the CC number and CVV fields will appear -->
	<p class="field">
		<label>Credit Card Number</label>
		<div id="spreedly-number" class="spreedly-field"></div>
	</p>
	<p class="field">	
		<label>CVV</label>
		<div id="spreedly-cvv" class="spreedly-field"></div>
		<%= link_to "(#{Spree.t(:what_is_this)})", spree.content_path('cvv'), :target => '_blank', "data-hook" => "cvv_link", :id => "cvv_link" %>
	</p>	
		
	
	
	<p class="field" data-hook="card_expiration">
	  <%= label_tag "card_expiry" do %>
	    <%= Spree.t(:expiration) %><abbr class="required" title="required">*</abbr>
	  <% end %>
	  <%= text_field_tag "#{param_prefix}[expiry]", '', :id => 'card_expiry', :class => "form-control required cardExpiry", :placeholder => "MM / YY" %>
	</p>
	
	
	<%= hidden_field_tag "#{param_prefix}[cc_type]", '', :id => "cc_type", :class => 'ccType' %>

</div>

<div id="spreedly-alert" class="alert alert-warning collapse">
	<span id="spreedly-errors"></span>
</div>

<!-- Include the payment-frame library on your page -->
<script src="https://core.spreedly.com/iframe/iframe-0.10.min.js" id="spreedly-iframe"
      data-environment-key="<%= payment_method.preferred_login %>"
      data-number-id="spreedly-number"
      data-cvv-id="spreedly-cvv">
</script>

<script type="text/javascript">
	Spree.spreedlyPaymentMethod = $('#payment_method_' + <%= payment_method.id %>);

	var masterForm = $('#checkout_form_payment');

	masterForm.on('submit', function(){
		 if (Spree.spreedlyPaymentMethod.is(':visible')) {
	    	 submitPaymentForm();
	    	 return false;
		 } else {
	         masterForm.unbind('submit');
	         masterForm.submit();
		 }
	});

	// Rest of PaymentFrame configuration will go in between, here
	Spreedly.on('ready', function() {
		var css = 'margin: 0px;' +
  		'font-size: 15px;' +
  		'font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;' +
  		'box-sizing: border-box;'+
  		'list-style: outside none none;'+
  	    'line-height: 1.42857143;' +
  	    'color: #333333;' +
  	    'display: block;' +
  		'margin: 0px;' +
  	    'width: 100%;' +
  	    'height: 43px;' +
  	    'padding: 10px 18px;' +
  	    'background-color: #fff;' +
  	    'background-image: none;' +
  	    'border: 1px solid #ccc;' +
  	    'border-radius: 0;' +
  	    '-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);' +
  	    'box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);' +
  	    '-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;' +
  	    '-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;' +
  	    'transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s';
		
		Spreedly.setStyle('number', css);
		Spreedly.setStyle('cvv', css);
	});

    function submitPaymentForm() {
		// These are the fields whose values we want to transfer *from* the
        // master form *to* the payment frame form.
		var expiry = document.getElementById('card_expiry').value.split(' / ');
		var options = {
				full_name: document.getElementById('name_on_card_<%= payment_method.id %>').value,
				month: expiry[0],
				year: '20' + expiry[1],
			};
	    Spreedly.tokenizeCreditCard( options );
    }

    Spreedly.on('paymentMethod', function(token, pmData) {
        masterForm.append("<input type='hidden' class='spreedlyToken' name='payment_source[" + <%= payment_method.id %> + "][gateway_payment_profile_id]' value='" + token + "'/>");
        masterForm.append("<input type='hidden' class='spreedlyToken' name='payment_source[" + <%= payment_method.id %> + "][last_digits]' value='" + pmData.last_four_digits + "'/>");
        masterForm.append("<input type='hidden' class='spreedlyToken' name='payment_source[" + <%= payment_method.id %> + "][month]' value='" + pmData.month + "'/>");
        masterForm.append("<input type='hidden' class='spreedlyToken' name='payment_source[" + <%= payment_method.id %> + "][year]' value='" + pmData.year + "'/>");


				masterForm.unbind('submit');
        masterForm.submit();
    });

    Spreedly.on('errors', function(errors) {
        var $alert = $('#spreedly-alert');
		
		var $errors = $('#spreedly-errors');
		
		$errors.text('');
		
		for(var i = 0; i < errors.length; i++) {
            var error = errors[i];
            if(error["attribute"]) {
                Spreedly.setStyle('input#spf-' + error["attribute"], "border: 1px solid red;");
            }
			$errors.text($errors.text() + error['message']);
        }
		
		$alert.show();
		$('#checkout_form_payment input[type=submit]').removeAttr('disabled').removeClass('disabled');
    });

	Spreedly.on('input', function( data ) {
	    if (data["validCvv"]){
	      Spreedly.setStyle('cvv', "background-color: #CDFFE6;")
	    } else {
	      Spreedly.setStyle('cvv', "background-color: #FFFFFF;")
	    }
	    if (data["validNumber"]){
	      Spreedly.setStyle('number', "background-color: #CDFFE6;")
	    } else {
	      Spreedly.setStyle('number', "background-color: #FFFFFF;")
	    }
	});

</script>
<style type='text/css'>
	.spreedly-field { height: 43px; }
</style>