<% options_hash = Rails.env.production? ? {:autocomplete => 'off'} : {} %>
<!-- Include the payment-frame library on your page -->
<script src="https://core.spreedly.com/payment-frame/payment-frame-0.3.min.js"></script>

<!-- This field will get the payment method token value after the user submits the payment frame -->
<input type="hidden" name="payment_method_token" id="payment_method_token" value="" />

<div class="well clearfix">
	<%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image', :class => 'pull-right', :width => '170', :height => '28' %>
	<% param_prefix = "payment_source[#{payment_method.id}]" %>

	<p class="field">
		<%= label_tag "name_on_card_#{payment_method.id}" do %>
			<%= Spree.t(:name_on_card) %><abbr class="required" title="required">*</abbr>
		<% end %>
		<%= text_field_tag "#{param_prefix}[name]", "#{@order.billing_firstname} #{@order.billing_lastname}", { id: "name_on_card_#{payment_method.id}", :class => 'form-control required'} %>
	</p>
	
	<!-- This is where the CC number and CVV fields will appear -->
	<div id='frame-holder' class="field">
		<iframe id="spreedly-iframe" frameborder="0" width="100%" height="100%" scrolling="no"></iframe>
		<%= link_to "(#{Spree.t(:what_is_this)})", spree.content_path('cvv'), :target => '_blank', "data-hook" => "cvv_link", :id => "cvv_link" %>
	</div>
	
	<p class="field" data-hook="card_expiration">
	  <%= label_tag "card_expiry" do %>
	    <%= Spree.t(:expiration) %><abbr class="required" title="required">*</abbr>
	  <% end %>
	  <%= text_field_tag "#{param_prefix}[expiry]", '', :id => 'card_expiry', :class => "form-control required cardExpiry", :placeholder => "MM / YY" %>
	</p>
	
	
	<%= hidden_field_tag "#{param_prefix}[cc_type]", '', :id => "cc_type", :class => 'ccType' %>

</div>
<script type="text/javascript">
    var spreedlyPaymentFrame = new Spreedly.PaymentFrame("<%= payment_method.preferred_login %>");
    document.getElementById('frame-holder').style.visibility="hidden";
    // Rest of PaymentFrame configuration will go in between, here
    spreedlyPaymentFrame.bind(document.getElementById('spreedly-iframe'));

    function submitPaymentForm() {
		// These are the fields whose values we want to transfer *from* the
        // master form *to* the payment frame form.
		var expiry = document.getElementById('card_expiry').value.split(' / ');
		spreedlyPaymentFrame.setParam('full_name', document.getElementById('name_on_card_<%= payment_method.id =%>').value)
        spreedlyPaymentFrame.setParam('month', expiry[0]);
		spreedlyPaymentFrame.setParam('year', '20' + expiry[1]);
		spreedlyPaymentFrame.submit();
    }

    spreedlyPaymentFrame.on('paymentMethod', function(token, pmData) {
        var masterForm = $('#checkout_form_payment');

        masterForm.append("<input type='hidden' class='spreedlyToken' name='payment_source[" + <%= payment_method.id %> + "][gateway_payment_profile_id]' value='" + token + "'/>");
        masterForm.append("<input type='hidden' class='spreedlyToken' name='payment_source[" + <%= payment_method.id %> + "][last_digits]' value='" + pmData.last_four_digits + "'/>");
        masterForm.append("<input type='hidden' class='spreedlyToken' name='payment_source[" + <%= payment_method.id %> + "][month]' value='" + pmData.month + "'/>");
        masterForm.append("<input type='hidden' class='spreedlyToken' name='payment_source[" + <%= payment_method.id %> + "][year]' value='" + pmData.year + "'/>");


        masterForm.removeAttr('onsubmit');
        masterForm.submit();
    });

    spreedlyPaymentFrame.on('errors', function(errors) {
        for(var i = 0; i < errors.length; i++) {
            var error = errors[i];
            if(error["attribute"]) {
                spreedlyPaymentFrame.setStyle('input#spf-' + error["attribute"], "border: 1px solid red;");
            } else {
                console.log(error["key"] + ": " + error["message"]);
            }
        }
    });
	
	spreedlyPaymentFrame.on('config', function(frame) {
		frame.setStyle('body', 'margin: 0px;');
	  frame.setStyle('input', 
		'font-size: 15px;' +
		'font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;' +
		'box-sizing: border-box;'+
		'list-style: outside none none;'+
	    'line-height: 1.42857143;' +
	    'color: #333333;' +
	    'display: block;' +
		'margin: 0px;' +
	    'width: 100%;' +
	    'height: 43px;' +
	    'padding: 10px 18px;' +
	    'background-color: #fff;' +
	    'background-image: none;' +
	    'border: 1px solid #ccc;' +
	    'border-radius: 0;' +
	    '-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);' +
	    'box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);' +
	    '-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;' +
	    '-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;' +
	    'transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;');
	 frame.setStyle('label', 
		'margin: 0px;' +
		'font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;' +
		'box-sizing: border-box;' +
		'list-style: outside none none;' +
	    'line-height: 1.42857143;' +
	    'color: #333333;' +
	    'display: inline-block;' +
	    'max-width: 100%;' +
	    'margin-bottom: 5px;' +
	    'font-weight: bold;');

	  frame.setText('label[for="spf-number"]', 'Card Number');
	  frame.setText('label[for="spf-verification_value"]', 'CVV');

	});

    var masterForm = document.getElementById('checkout_form_payment')

    masterForm.onsubmit = function(){
        submitPaymentForm();
        return false;
    };

    spreedlyPaymentFrame.on('ready', function() {
        document.getElementById("frame-holder").style.visibility = 'visible';
    });
</script>